<div class="content">
  <div class="map-container">
    <div
      id="map"
      style="width: 100%;
      height: 350px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

  <div class="container-cards">
    <div class="cards">
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat, start_date: params[:start_date], end_date: params[:end_date]) do %>
        <div class="flat">
          <%= cl_image_tag flat.picture, height: 300, width: 400, crop: :fill %>
          <div class="flat-infos">
            <div>
              <h2><%= flat.title %></h2>
              <p>$<%= flat.price %>/night</p>
            </div>
          </div>
        </div>
        <% end %>
       <% end %>
    </div>
  </div>



</div>
