
<%#= @flat.title %>
 <%#= cl_image_tag @flat.picture, height: 300, width: 400, crop: :fill %>
<%#= @flat.description%>
<div class="img-house">
  <%= cl_image_tag @flat.picture, crop: :fill %>
</div>

<div class="container-show">
  <div class="container-info" style="margin-bottom: 150px">
    <div class="container-details">
      <h2><%= @flat.title %></h2>
      <h6><%= @flat.description%></h6>
      <div class="other-info">
        <p>Address: <%= @flat.address%> </p>
        <p>Capacity: <%= @flat.capacity%> </p>
        <p><%= @flat.price %> per night </p>
      </div>
    </div>
    <div class="container-price">
      <%= simple_form_for [@flat, @booking] do |f| %>
      <div class='dates-form'>
        <div>
          <p>START DATE</p>
             <%= f.input :start_date %>
        </div>
        <div>
          <p>END DATE</p>
            <%= f.input :end_date %>
        </div>
        <%= f.submit "book", :input_html => { class: "btn btn-primary book" } %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="map">
  </div>
</div>


