
<%#= @flat.title %>
 <%#= cl_image_tag @flat.picture, height: 300, width: 400, crop: :fill %>
<%#= @flat.description%>
<div class="img-house">
  <%= cl_image_tag @flat.picture, crop: :fill %>
</div>
<div class="container-show">
  <div class="container-info" style="margin-bottom: 150px">
    <div class="container-details">
      <h2><%= @flat.title %></h2>
      <h6><%= @flat.description%></h6>
      <div class="other-info">
        <p>Address: <%= @flat.address%> </p>
        <p>Capacity: <%= @flat.capacity%> </p>
      </div>
    </div>
    <div class="container-price">
      <p><%= @flat.price %> per night </p>

      <%= simple_form_for [@flat, @booking] do |f| %>
      <div class='dates-form'>
        <div>
          <p>START DATE</p>
            <%= f.input :start_date %>
        </div>
        <div>
          <p>END DATE</p>
          <%= f.input :end_date %>
        </div>
        <%= f.submit "book", :input_html => { class: "btn btn-primary book" } %>
      </div>
    <% end %>







      <!-- <form novalidate="novalidate" class="simple_form search" action="/flats/<%= @flat.id %>/bookings" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" />
          <div class='dates-form'>
            <div>
              <p>START DATE</p>
              <input class="form-control string required" style="width: 187px;" type="date" name="start_date" id="search_query" placeholder="Start date"/>
            </div>
            <div>
              <p>END DATE</p>
              <input class="form-control string required" style="width: 187px;" type="date" name="end_date" id="search_query" placeholder="End date"/>
            </div>
            <p> Total cost : <%= @total_cost%>  </p>
            <input type="submit" class="btn btn-primary book">
      </form> -->
    </div>
  </div>
  <div class="map">
  </div>
</div>
