
<%#= @flat.title %>
 <%#= cl_image_tag @flat.picture, height: 300, width: 400, crop: :fill %>
<%#= @flat.description%>
<div class="img-house">
  <img src="http://www.cgarchitect.com/content/portfolioitems/2017/09/140676/bed_evening_r_1500_large.jpg" alt="imagen">
</div>
<div class="container-show">
  <div class="container-info">
    <div class="container-details">
      <h2><%= @flat.title %></h2>
      <h6><%= @flat.description%></h6>
      <div class="other-info">
        <p>Address: <%= @flat.address%> </p>
        <p>Capacity: <%= @flat.capacity%> </p>
      </div>
    </div>
    <div class="container-price">
      <div class="price-per-night">
        <h3>$ <%= @flat.price%> </h3> </p> per night</p>
      </div>
      <div class="dates-start">
        <p>Start date: </p>
        <p>1/10/2019</p>
      </div>
      <div class="dates-end">
        <p>End date: </p>
        <p>4/10/2019</p>
      </div>
      <div class="total-price">
        <p>Total price:</p>
        <p>$ 197</p>
      </div>
      <div class="button" >
        <a href="..." class="btn btn-primary book" >Book</a>
      </div>
    </div>
  </div>
  <div class="map">
  </div>
</div>
