<h1>Booking guest</h1>
<div class="container">
  <br>
  <div class="row" style="margin-top: 20px">
       <% @bookings.each do |booking| %>
        <div class="col-sm">
        <div class="card-product">
          <%= cl_image_tag booking.flat.picture, height: 200, width: 200, crop: :fill %>
            <div class="card-product-infos">
              <h3 style="color: black; opacity: 0.8;">Reservation number #<%= booking.id %></h3>
              <p><strong>Status:</strong> <%= booking.status %></p>
              <p><strong>Starting date:</strong> <%= booking.start_date%></p>
              <p><strong>Ending date:</strong> <%= booking.end_date%></p>
              <p><strong>Total cost:</strong> <%= booking.total_price%> €</p>

              <div class="delete">
                <br>
                <%= link_to 'delete', booking, :method => :destroy, data: {:confirm => "You sure?" } %>
              </div>
              <% unless booking.status == 'accepted' %>

                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, input_html: { value: 'accepted' }, as: :hidden  %>
                  <%= f.submit "accepted", method: :patch %>
                <% end %>

                <%= simple_form_for booking do |f| %>
                  <%= f.input :status, input_html: { value: 'rejected' }, as: :hidden  %>
                  <%= f.submit "reject", method: :patch %>
                <% end %>
              <% end %>
            </div>
        </div>
      </div>
      <% end %>
  </div>
  <br>
</div>
