<h1>Booking guest</h1>

<% @bookings.each do |booking| %>
  <%= booking.id %>
  <%= booking.start_date%>
  <%= booking.end_date%>
  <%= booking.total_price%>
  <%= booking.status %>
  <%= link_to 'delete', booking, :method => :delete, data: {:confirm => "You sure?" } %>
  <% end %>


<div class="container">
  <div class="row">
    <div class="col 6">

    </div>
  </div>
</div>
