<h1>Boookings host</h1>

<% @bookings.each do |booking| %>
  <%= booking.id %>
  <%= booking.start_date%>
  <%= booking.end_date%>
  <%= booking.total_price%>
  <%= booking.status %>
  <%= link_to 'delete', booking, :method => :delete, data: {:confirm => "You sure?" } %>
  <%= simple_form_for booking do |f| %>
    <%= f.input :status, value: 'accepted', as: :hidden  %>
    <%= f.submit "accepted", method: :patch %>
  <%# f.button "submit", name: "status", value: "decline" %>
  <% end %>

  <%= simple_form_for booking do |f| %>
    <%= f.input :status, value: 'rejected' , as: :hidden  %>
    <%= f.submit "reject", method: :patch %>
  <%# f.button "submit", name: "status", value: "decline" %>
  <% end %>
<% end %>
